@import "../../styles/style.scss";

.containerTransaccion {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 20px;
  &__up {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .transaccion{
        background: $color-gray; /* secondary-100 */
        border-radius: 6px; /* border-m */
        border-width: 1px; 
        border-color: $color-secondary; /* secondary-500 */
        border-style: solid;
        width:100%;
        height: 60px;
        padding: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .infCompra{
        display: flex;
        flex-direction: column;
        gap: 10px;
        .dato{
            display: flex;
            gap: 40px;
            justify-content: space-between;
            div {
                display: flex;
                flex-direction: column;
                gap: 8px;
            }
        }
    }
  }
  &__down {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    h1{
        display: flex;
        align-content: flex-start;

    }
    .infpel {
      display: flex;
      gap: 20px;
      figure {
        width: 100px;
        height: 150px;
        overflow: hidden;
        img {
          width: 100%;
          height: auto;
          max-width: 100%;
          max-height: 100%;
        }
      }
      .deta {
        display: flex;
        flex-direction: column;
      }
    }
    Button {
      display: flex;
      height: 35px;
      align-items: center;
      justify-content: center;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 14px;
      line-height: 26px;
      font-weight: 500;
      color: $color-primary;
      background: $color-blue;
      opacity: 1;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      :hover {
        color: $color-primary;
        background: rgb(16, 24, 183);
      }
    }
    .activeButton {
      display: flex;
      height: 35px;
      align-items: center;
      justify-content: center;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 14px;
      line-height: 26px;
      font-weight: 500;
      color: $color-primary;
      background: $color-blue;
      opacity: 1;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      :hover {
        color: $color-primary;
        background: rgb(16, 24, 183);
      }
    }
    .inactiveButton {
      display: flex;
      height: 35px;
      align-items: center;
      justify-content: center;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 14px;
      line-height: 26px;
      font-weight: 500;
      color: $color-primary;
      background: $color-gray;
      opacity: 1;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      :hover {
        color: $color-primary;
        background: rgb(16, 24, 183);
      }
    }
  }
}
