@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@100&family=Montserrat:wght@100&family=Open+Sans:ital@1&family=Roboto:ital,wght@0,100;1,300&display=swap");
* {
  font-family: "Alata", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}
