@import '../../styles/variables.scss';

.card__carrusel {
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
    align-items: center;

    &__figure {
        width: 293px;
        height: 420px;

        img {
            width: 100%;
            height: 100%;
            border-radius: 7px;
            object-fit: cover;
            filter: brightness(0.5);
        }
    }

    &__info-movie {
        display: flex;
        flex-direction: column;
        position: absolute;
        color: $color-primary;
        text-align: center;
        top: 60%;
        left: 50%;
        right: 15px;
        transform: translate(-50%, -50%);
        width: 300px;
        padding: 10px;
        border-radius: 7px;

        h2 {
            margin: 0 0 5px;
            font-weight: bold;
        }

        span {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }
    }
}