.login {
  position: absolute;
  top: 100px;
  left: 400px;
  width: 514px;
  height: 538px;
  background: #ffffffff; /* white */
  border-radius: 6px; /* border-m */
  box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__cancel {
    position: absolute;
    top: -21px;
    left: 491px;
    width: 44px;
    height: 44px;
    padding: 0 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #565d6dff; /* neutral-600 */
    background: #f3f4f6ff; /* neutral-200 */
    opacity: 1;
    border: none;
    border-radius: 22px;
    gap: 0px;
    & img {
      width: 26px;
      height: 26px;
      fill: #565d6dff; /* neutral-600 */
    }
    &:hover {
        color: #565D6DFF; /* neutral-600 */
        background: #DEE1E6FF; /* neutral-300 */
        cursor: pointer;
        &:active {
            color: #565D6DFF; /* neutral-600 */
            background: #CFD2DAFF; /* neutral-350 */
          }
      }
      &:disabled {
        opacity: 0.4; 
      }
  }
  &__text {
    & h1 {
      position: absolute;
      top: 44px;
      left: 133px;
      font-family: Roboto; /* Body */
      font-size: 48px;
      line-height: 68px;
      color: #171a1fff; /* neutral-900 */
    }
    & h3 {
      position: absolute;
      top: 117px;
      left: 196px;
      font-family: Roboto; /* Body */
      font-size: 18px;
      line-height: 28px;
      color: #9095a1ff; /* neutral-500 */
    }
  }
  &__email {
    position: absolute;
    top: 180px;
    left: 96px;
    opacity: 1;
    & input {
      width: 322px;
      height: 29px;
      padding-left: 0px;
      padding-right: 12px;
      font-family: Roboto; /* Body */
      font-size: 14px;
      background: #00000000; /* transparent */
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      border-width: 0px;
      box-shadow: 0 1px 0 #9095a1;
      outline: none;
      &:hover {
        color: #bdc1caff; /* neutral-400 */
        box-shadow: 0 1px 0 #9095a1;
      }
      &:focused {
        color: #bdc1caff; /* neutral-400 */
        box-shadow: 0 1px 0 #9095a1;
      }
      &:disabled {
        color: #bdc1caff; /* neutral-400 */
        box-shadow: 0 1px 0 #9095a1;
      }
    }
  }

  &__password {
    position: absolute;
    top: 256px;
    left: 96px;
    opacity: 1;
    & input {
      width: 322px;
      height: 29px;
      padding-left: 0px;
      padding-right: 34px;
      font-family: Roboto; /* Body */
      font-size: 14px;
      background: #00000000; /* transparent */
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      border-width: 0px;
      box-shadow: 0 1px 0 #9095a1;
      outline: none;
      &:hover {
        color: #bdc1caff; /* neutral-400 */
        box-shadow: 0 1px 0 #9095a1;
      }
      &:focused {
        color: #bdc1caff; /* neutral-400 */
        box-shadow: 0 1px 0 #9095a1;
      }
      &:disabled {
        color: #bdc1caff; /* neutral-400 */
        box-shadow: 0 1px 0 #9095a1;
      }
    }
    .img {
      position: absolute;
      top: 20px;
      right: 60px;
      width: 16px;
      height: 16px;
      fill: #171a1fff;
    }
    & label {
      font-size: 14px;
      line-height: 22px;
    }
    &:disabled + .img,
    .login__password :disabled + .img + .img {
      fill: #171a1fff; /* neutral-900 */
    }
  }

  &__checkbox {
    position: absolute;
    top: 332px;
    left: 96px;
    font-family: Roboto; /* Body */
    font-size: 14px;
    line-height: 22px;
    opacity: 1;

    .outer-square {
      width: 16px;
      height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 3px; /* border-xs */
      border-width: 1px;
    }
    .inner-square {
      width: 8px;
      height: 8px;
      border-radius: 0px;
      border-width: 1px;
      border-color: #565d6dff; /* neutral-600 */
    }
  }
  &__button {
    position: absolute;
    top: 376px;
    left: 77px;
    width: 359px;
    height: 44px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto; /* Body */
    font-size: 16px;
    line-height: 26px;
    color: #ffffffff; /* white */
    background: #19508aff; /* primary-500 */
    opacity: 1;
    border: none;
    border-radius: 6px; /* border-m */
    box-shadow: 0px 8px 17px #19508a, 0px 0px 2px #19508a; /* shadow-l */
    &:hover {
      color: #ffffffff; /* white */
      background: #154273ff; /* primary-600 */
      cursor: pointer;
      &:active {
        color: #ffffffff; /* white */
        background: #11355cff; /* primary-700 */
      }
    }
    &:disabled {
      opacity: 0.4;
    }
  }
}
